input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem #a4a4a4 solid;
  font-size: 1.2rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
select {
  margin-left: 1rem;
  padding: 0.5rem;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #9c9b9b solid;
}
button.primary {
  background-color: #f0c040;
}
button.primary.blu {
  background-color: #6ccef5;
}
button.primary.blu.big {
  font-size: 1.65rem;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
