@media screen and (max-width: 1450px) {
  .Logo1 {
    height: 4.5rem;
    border-radius: 10rem;
    margin-top: 2px;
  }

  .Logo2 {
    height: 4.5rem;
    border-radius: 10rem;
    margin-top: 2px;
  }

  .Logo3 {
    height: 4.5rem;
    border-radius: 10rem;
    margin-top: 2px;
  }

  .Logo4 {
    height: 4.5rem;
    border-radius: 10rem;
    margin-top: 2px;
  }

  .Logo5 {
    height: 4.5rem;
    border-radius: 10rem;
    margin-top: 2px;
  }
}

@media screen and (max-width: 1330px) {
  .Logo1 {
    display: none;
  }

  .Logo2 {
    display: none;
  }

  .Logo3 {
    display: none;
  }

  .Logo4 {
    display: none;
  }

  .Logo5 {
    display: none;
  }
}
